<div class="animate__animated animate__fadeIn  animate__faster">
    <h2>Por País</h2>
    <hr>
    <div class="row">
        <div class="col">
            <app-pais-input (onEnter)="buscar( $event )" (onDebounce)="sugerencias( $event )"
                placeholder="Buscar país...">
            </app-pais-input>
        </div>
    </div>

    <ul *ngIf="mostrarSugerencias" class="list-group">
        <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action">
            <a [routerLink]="[ '/pais', pais.alpha2Code ]" class="pe-auto nav-link">{{ pais.name }}</a>
        </li>
        <li (click)="buscar(termino)" class="list-group-item list-group-item-action">
            <a class="pe-auto nav-link">Buscar: {{ termino }}</a>
        </li>
    </ul>

    <hr>

</div>

<div *ngIf="existError" class="alert alert-danger">
    <p>No se encontró ningun resultado con el termino de busqueda: {{termino}}</p>
</div>

<div *ngIf=" paises.length > 0 " class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>